<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= link_to 'Create username', new_user_path %>

<% @users.each do |q|%>
<hr />
<h2><%= link_to q.username, "/users/#{q.id}", :style => 'text-decoration: none' %></h2>
<button><%= link_to 'Delete User', delete_user_path(q), method: "delete", :style => 'text-decoration: none' %></button>
<button><%= link_to 'Edit User', edit_user_path(q), method: "patch", :style => 'text-decoration: none' %></button>
<% end %>
